executor {
    name = 'slurm'
}

process {
    beforeScript = 'module load singularity/4.1.0-nompi'
    queue = 'work'
    withName: fastp {
        memory = '32GB'
        cpus = 64
        clusterOptions = "--time=03:00:00"
    }
    withName: mapping {
        memory = '128GB'
        cpus = 64
        clusterOptions = "--time=12:00:00"
    }
    withName: DupValIndx {
        memory = '100GB'
        cpus = 32
        clusterOptions = "--time=03:00:00"
    }
    withName: recalibrate {
        memory = '64GB'
        cpus = 64
        clusterOptions = "--time=12:00:00"
    }
    withName: BQSR {
        memory = '24GB'
        cpus = 32
        clusterOptions = "--time=02:00:00"
    }
    withName: HapCall {
        memory = '128GB'
        cpus = 64
        clusterOptions = "--time=05:00:00"
    }
    withName: chr_GenomicDB {
        memory = '128GB'
        cpus = 128
        clusterOptions = "--time=1-00:00:00"
    }
    withName: genotype {
        memory = '100GB'
        cpus = 64
        clusterOptions = "--time=12:00:00"
    }
    withName: MergeVcfs {
        memory = '32GB'
        cpus = 8
        clusterOptions = "--time=01:00:00"
    }
}

singularity.enabled = true
