executor {
    name = 'slurm'
}

process {
    beforeScript = 'module load singularity/4.1.0-nompi'
    queue = 'work'
    withName: fastp {
        memory = '32GB'
        cpus = 64
           time = '3h'
    }
    withName: mapping {
        memory = '128GB'
        cpus = 64
           time = '12h'
    }
    withName: DupValIndx {
        memory = '100GB'
        cpus = 32
           time = '3h'
    }
    withName: recalibrate {
        memory = '64GB'
        cpus = 64
           time = '12h'
    }
    withName: BQSR {
        memory = '24GB'
        cpus = 32
           time = '3h'
    }
    withName: HapCall {
        memory = '128GB'
        cpus = 64
           time = '5h'
    }
    withName: create_chr_GenomicDB {
        memory = '128GB'
        cpus = 128
           time = '1d'
    }
    withName: update_chr_GenomicDB {
        memory = '128GB'
        cpus = 128
           time = '1d'
    }
    withName: genotype {
        memory = '100GB'
        cpus = 64
           time = '12h'
    }
    withName: MergeVcfs {
        memory = '32GB'
        cpus = 8
           time = '2h'
    }
}

singularity.enabled = true
